.pdf-notes-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0%;
	margin: 0%;
}

.pdf-editor {
	width: 100%;
	padding: 0%;
	margin-top:2%;
	background-color: var(--background-modifier-border);
	border-radius: 4px;
	border: solid;
	border-color: var(--background-modifier-border);
}

.modal-btn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.pdf-editor > .cm-editor > .cm-scroller {
	padding:2% !important;
}

.file-picker-input {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.btn-primary {
	cursor: pointer;
}

.navigation-button {
	cursor: pointer;
	color: var(--accent-h);
	scale: 0.8;
}

.pdf-page-title {
	margin: 0;
}

.pdf-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 4px;
	height: fit-content;
}

.pdf-button-container {
	display: flex;
	color: var(--text-accent);
	padding: 0;
}
